*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fcbf49;
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.first{
    font-size: 25px;
}
.second{
    visibility: hidden;
    font-size: 25px;
    position: absolute;
    top: 40px; 
    left: 40px;
}
.third{
    visibility: hidden;
    font-size: 25px;
    position: absolute;
}
.main{
    top: 80%;
}